@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    FVS Fabulous VideoStore Company<br />
    In the Cyperworld<br />
    <abbr title="mail">Mail:</abbr>
    info@FabulousVideoStore.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@lonsamhet.se.com">info@lonsamhet.se</a>
</address>