@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Fabulous Video Store</h1>
    <p class="lead">The Fabulous Video Store gives you access to extraordinary short films with creative and fantastic contents.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>OUR MOVIES</h2>
        <p>
            The movies we offer for hire are done by independent movie makers who are in the start-up of their careers.
        </p>
        <p><a class="btn btn-default" href="/VideoStore/ListMovies">Our movies &raquo;</a></p>
    </div>
</div>